fastapi
uvicorn
pydantic
supabase
pymupdf==1.25.3
spacy
python-dotenv
google-genai
apify-client
requests
groq
razorpay
python-multipart
PyPDF2
nltk
httpx
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl